<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block head %}
    {% endblock %}
</head>
<body>

<main class="main">
    {{ outlet }}
</main>

{% block footer %}
{% endblock %}
</body>
</html>